/* @override 
	https://paulogabriel.me/extranet/labs/angularjs-jobboard/css/style.css */
	
/*Header*/	
header{
	margin: 30px 0;
}
.main{
	width: 90%;
	padding: 0 5%;
}
.clear,
.post-job h1{
	float: left;
	width: 100%;
	margin: 30px 0;
}
h1{
	float: left;
	margin: 0;
	text-align: right;
}
h1 a{
	color: #333;
}
h1 span{
	font-size: 0.3em;
	display: block;
	color: #999;
}
nav{
	float: right;
}
nav li{
	float: left;
}
nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
header .group{
	position: relative;
	margin: 0 10px 0 0;
}
header .group input{
	padding-right: 30px;
}
header .group span{
	position: absolute;
	top: 10px;
	right: 10px;
}
header .btn{
	float: right;
}

/*Home*/
.main{
	clear: both;
	padding-bottom: 50px;
}
.main .card:hover{
	border: 1px solid #333;
}
.main a.panel-body{
	padding: 0;
	color: #333;
	width: 100%;
}
.main a.panel-body:hover{
	text-decoration: none;
}
.main .card .inner{
	float: left;
	width: 100%;
	padding: 15px 2%;
}
.main h3{
	float: left;
	position: relative;
	font-size: 1.6em;
	width: 100%;
	margin-bottom: 10px;
}
.main .card ul,
.main .opening ul{
	float: left;
	margin: 0;
	list-style: none;
	padding: 0;
}
.main .card ul li,
.main .opening .trio li{
	float: left;
	margin: 0 20px 0 0;
}
.main .card ul li:first-child,
.main .opening .trio li:first-child{
	color: #4cae4c;
}
.main .card ul li:nth-child(2),
.main .opening .trio li:nth-child(2){
	color: #46b8da;
}
.main .card ul li:last-child,
.main .opening .trio li:last-child{
	color: #eea236;
}
.main .card ul li span,
.main .opening ul li span{
	margin: 0 7px 0 0;
}

.main .opening .detail{
	border-top: 1px solid #ddd;
	margin-top: 15px;
	padding-top: 15px;
	width: 100%;
}
.main .opening p{
	margin: 10px 0 0;
}

.main a.return{
	margin-top: 50px;
	float: left;
}

/*Form*/
.post-job h1{
	text-align: left;
}
form{
	float: left;
	width: 100%;
}
form .bottom{
	margin-top: 20px;
}

/*Footer*/
footer p{
	text-align: center;
	margin: 0;
}
footer p span{
	margin-right: 7px;
}

/*Queries*/
@media screen and (max-width: 514px){
	h1{
		float: none;
		text-align: center;
		margin-bottom: 30px;
	}
	nav,
	nav li{
		width: 100%;
	}
	nav .group{
		margin: 0;
	}
	nav li:last-child{
		text-align: center;
		margin-top: 10px;
	}
	nav .btn{
		float: none;
		width: 100%;
		font-size: 1.3em;
	}
	.main .card .inner{
		padding-right: 5%;
		padding-left: 5%;
	}
	.main .card .inner li{
		margin-bottom: 5px;
	}
}